:root {
    --vert: #2e7d32;
    --ocre: #c49a00;
    --dark: #1a1a1a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--dark);
    color: white;
}

/* HEADER */

header {
    padding: 20px;
    text-align: center;
    position: absolute;
    width: 100%;
}

header h1 {
    color: var(--ocre);
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    text-transform: uppercase;
     font-size: 25px;
    text-shadow: 2px 2px 4px black;
}
nav a:hover {
    color: var(--ocre);
}

/* SECTION AVEC IMAGE DE FOND */

.dino-section {
    background-image: url("acceuil.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;
    padding: 150px 20px 80px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CONTAINER FLEX */

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

/* CARTES */

.card {
    width: 500px;
    height: 350px;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.card h3 {
    font-size: 28px;
    margin-bottom: 15px;
    text-shadow: 2px 2px 5px black;
}

.card a {
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.card a:hover {
    background-color: #c49a00;
}

.triassique { background-image: url("Triassique.jfif"); }
.jurassique { background-image: url("jurassique.jpg"); }
.cretace { background-image: url("crétacé.jpg"); }

/* FOOTER */

footer {
    text-align: center;
    padding: 20px;
}


.text-card {
    max-width: 800px;
    text-align: center;
    padding: 40px 30px;
    margin-bottom: 60px;

    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
}


.text-card h2 {
    color: var(--ocre);
    font-size: 32px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px black; /* lisible sur fond sombre */
}

.text-card p {
    font-size: 18px;
    line-height: 1.6;
    color: white;
}





.periode-section {
    background-image: url("fondtriassique.jpeg"); /* ton image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;
    padding: 150px 20px 80px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-card {
    max-width: 900px;
    padding: 50px 40px;
    margin-bottom: 60px;

    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    text-align: center;
}

.main-card h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: var(--ocre);
    text-shadow: 2px 2px 5px black;
}

.main-card p {
    font-size: 18px;
    line-height: 1.6;
}

.info-card {
    width: 300px;
    padding: 30px 20px;

    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    text-align: center;
}

.info-card h3 {
    margin-bottom: 15px;
    color: #c49a00;
}

.info-card p {
    font-size: 16px;
    line-height: 1.5;
}

.info-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}

.jurassique-bg {
    background-image: url("fondjurassique.jpeg");
}

.cretace-bg {
    background-image: url("fondcretace.jpg");
}


.back-home {
    text-align: center;
    margin: 40px 0;
}

.back-home a {
    text-decoration: none;
    background-color: var(--ocre);
    color: black;
    padding: 12px 25px;
    border-radius: 8px;
    font-weight: bold;
    text-transform: uppercase;
}

.back-home a:hover {
    background-color: white;
}


